<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i>Welkom</h2>
    </div>
  </div>  
</div>

<div id="wrapper">
  <div class="container">
  <hr>

    <div class="clearfix"></div>

    <!-- start: Row -->
    <div class="row">

      <div class="span9">
        <div class="post">
          <div class="title">
            TEXT/FOTO
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="post">
          <div class="title">
            <h5><strong>Laatste verhalen</strong></h5>
            <ul>
              <% Blog.order('created_at DESC').each do |blog| %>
                <li class="blog_item"><%= link_to truncate(blog.title, length: 30), blog_path(blog) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    <hr>
	</div>
</div>
