<div id="wrapper">
  
  <div class="container">

    <% if @pictures.present? %>
      
      <div id="portfolio-wrapper" class="row isotope", style="margin-top: 50px">

        <% @pictures.each do |picture| %>
          <div class="span2 portfolio-item nature people isotope-item">   
            <div class="picture"><%= link_to (image_tag picture.image(:medium)), picture.image(:original), rel: "prettyPhoto", title: picture.blog.title %> 
            </div>
          </div>
        <% end %>

      </div>  

      <%= will_paginate @pictures %>

    <% else %>

      <p>Er zijn nog geen foto's toegevoegd.</p>

    <% end %>

  </div>
  <!--end: Container-->
      
</div>
