<div id="footer-menu" class="hidden-tablet hidden-phone">
	<div class="container">

			<div class="span1">
				<div id="footer-menu-back-to-top">
					<a href="#"></a>
				</div>
			</div>

		<% if admin_signed_in? %>
			<div id="sign_in_button"><p><%= link_to 'Admin Sign Out', destroy_admin_session_path, :method => :delete %></p></div>
		<%else %>
			<div id="sign_in_button"><p><%= link_to 'Admin Sign In', new_admin_session_path %></p></div>
		<% end %>

		</div>
	</div>
</div>	

<div id="copyright">
	<div class="container">
		<div class="sixteen columns">
			<p>
					© 2014, Created by Peter van den Berg
			</p>
		</div>
	</div>	
</div>	