<div id="footer-menu" class="hidden-tablet hidden-phone">
	<div class="container">

			<div class="span1">
				<div id="footer-menu-back-to-top">
					<a href="#"></a>
				</div>
			</div>

			<div id="sign_in_button">
				<%= link_to 'Admin Sign in', new_admin_session_path %>
			</div>

		</div>
	</div>
</div>	

<div id="copyright">
	<div class="container">
		<div class="sixteen columns">
			<p>
					© 2014, Created by Peter van den Berg
			</p>
		</div>
	</div>	
</div>	